.game-over.screen {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  z-index: 1;
}

.game-over-container {
  width: 500px;
  background-image: url("/result-background.jpg");
  background-position: center;
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid black;
}

.message-container,
.options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.message-status {
  font-size: 2rem;
}

.game-over.btn {
  width: 150px;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  border: 3px dashed;
  transition: all .3s;
}

.game-over.btn:hover {
  transform: scale(1.05);
}

.game-over.btn:active {
    transform: scale(0.97);
}

.btn.play-again {
  border-color: #1d4ed8;
  background-color: #eff6ff;
}

.btn.play-again:hover {
  background-color: #dbeafe;
}

.btn.main-menu {
  border-color: #f59e0b;
  background-color: #fefce8;
}

.btn.main-menu:hover {
  background-color: #fef3c7;
}

@media screen and (max-width: 550px) {
  .game-over-container {
    width: 300px;
  }
}