.game-over.screen {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  z-index: 1;
}

.game-over-container {
  width: 500px;
  background-image: url("../../public/result-background.jpg");
  background-position: center;
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid black;
}

.message-container,
.options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.message-status {
  font-size: 2rem;
}

.game-over.btn {
  width: 150px;
  padding: 1rem;
  border: 1px solid black;
}

@media screen and (max-width: 550px) {
  .game-over-container {
    width: 300px;
  }
}