.home.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-screen-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.difficulty-selector {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 2rem;
}

.mode-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.mode-btn {
  align-self: flex-start;
  width: 120px;
  padding: 0.5rem 1.5rem;
  border: 3px dashed;
  cursor: pointer;
  font-weight: bold;
  transition: transform .3s;
}

.mode-btn:hover {
  transform: scale(1.05);
}

.mode-btn:active {
  transform: scale(0.97);
}

.mode-btn.easy {
  border-color: #16a34a;
  background-color: #dcfce7ad;
}

.mode-btn.medium {
  border-color: #f97316;
  background-color: #ffedd5;
}

.mode-btn.hard {
  border-color: #b91c1c;
  background-color: #fee2e2;
}

.mode-btn.endless {
  border-color: #581c87;
  background-color: #f3e8ff;
}

@media screen and (max-width: 550px) {
  .home-screen-container {
    padding: 1rem;
  }

  .title {
    font-size: 2.5rem;
  }
}